* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profileData {
  border: solid;
  text-align: center;
  img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }
}

.postData {
  border: solid;
  margin-top: 10px;
}
.postData img {
  border: solid;
  width: 100%;
  height: 300px;
}
/* div{
    border: solid red;
}

p{
    border: solid;
} */
