.follow {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 220px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  border: solid;
  margin: 10px;
  img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
  button {
    width: 90%;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: navy;
    color: white;
    font-weight: 500;
  }
}

.following{
  justify-content: space-evenly;
  margin-bottom: 10px;
}
img {
  width: 100%;
  height: 300px;
}

figure div {
  margin: 10px;
}
i {
  font-size: 30px;
}
