article {
  height: 200px;
  width: 150px;
  text-align: center;
  border-radius: 20px;
  border: solid;
  img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
  button {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: navy;
    color: white;
    font-weight: 500;
  }
}

aside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
