* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  border: solid;
  width: 500px;
  img{
    height: 20px;
    width: 20px;
    border-radius: 100%;
  }
}
