nav {
  display: none;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  a{
    text-decoration: none;
    color: black;
  }
}

@media all and (max-width: 576px) {
  nav {
    display: block;
  }
}
