.responsiveNavbar {
  display: none;
  width: 100%;
}

ul {
  width: 100%;
  list-style: none;
  height: 100%;
  i {
    font-size: 20px;
  }
}
button {
  background-color: transparent;
  border: none;
}

@media all and (max-width: 576px) {
  .responsiveNavbar {
    display: block;
  }
  .navbar {
    display: none;
  }
}
